
<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>Jhon Rengifo | Developer </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon.png' %}">



</head>
<body>
  <div>
            <!-- Modal Resume  -->          
            <div class="modalcontainer"  id="modalcontainer-resume">
                <div class="ventana-modal">
                  <div class="cabecera-modal-resume">
                       Resume
                       <h6>Web</h6>
                  </div>
                    <img src="{% static 'img/imagen.png' %}">
                    <hr class="section-hr">
                    <button id="cerrar-resume">Close</button>
                        </div>
            </div>
            <!-- Modal Internacional -->
            <div class="modalcontainer"  id="modalcontainer">
                  <div class="ventana-modal">
                    <div class="cabecera-modal">
                        Club Internacional Tulua
                        <h6>Web</h6>
                    </div>
                    <img src="{% static 'img/imagen.png' %}">
                    <p>Portafolio web del llamado <a href="https://internacionaltulua.pythonanywhere.com/" target="_blank" style="text-decoration: none;">  <i class="fas fa-external-link-alt"></i> </a> Club Internacional de Futbol Tulua 
                      la web cuenta con las descripcion detallada de los servicios que presta dicho club, 
                      fue desarrollada con las buenas de practicas del framework web Django,
                      usando tambien CSS,JavaScript,GSAP entre otras librerias para una estetica muy agradable 
                      tambien y con un diseño responsive agrable para el usuario final.
                    </p>
                    <hr class="section-hr">
                    <button id="cerrar">Close</button>
                  </div>
            </div>

            <!-- Modal electro -->
            <div class="modalcontainer"  id="modalcontainer-electro" >
                <div class="ventana-modal">
                  <div class="cabecera-modal-electro">
                      Electro Aires & Aires
                      <h6>Desktop App</h6>
                  </div>
                  <img style="margin-top: 30px; margin-bottom: 30px; height: 250px; width: 250px;" src="{% static 'img/electro.png' %}">
                  <p>Electro Aires & Aires App es un sistema <a target="_blank" href="https://github.com/RengifoVera/ElectroAires"><i style="font-size: 20px;" class="fab fa-github"></i></a> se creo 
                    para la gestion de ventas y registro de vehiculos para controlar los ingresos de un taller de aire acondicionado automotriz,
                    usando  python,postgresql. 
                  </p>
                  <hr class="section-hr">
                  <button id="cerrar-electro">Close</button>
                </div>
            </div>

            <!-- Modal Experiencia -->
            <div class="modalcontainer"  id="modalcontainer-experiencia" >
              <div class="ventana-modal">
                  <div class="cabecera-modal-experiencia">
                     Experiencia
                    <h6>Desktop App</h6>
                  </div>
                    <img style="margin-top: 30px; margin-bottom: 30px; height: 250px; width: 250px;" src="{% static 'img/estudios.jpg' %}">
                    <hr class="section-hr">
                    <button id="cerrar-experiencia">Close</button>
                 </div>
            </div>

            <!-- Modal Estudios -->
            <div class="modalcontainer"  id="modalcontainer-estudios" >
                <div class="ventana-modal">
                    <div class="cabecera-modal-estudios">
                      Estudios
                          <h6>Desktop App</h6>
                    </div>
                    <img style="margin-top: 30px; margin-bottom: 30px; height: 250px; width: 250px;" src="{% static 'img/estudios.jpg' %}">
                      <hr class="section-hr">
                        <button id="cerrar-estudios">Close</button>
                </div>
            </div>

            <!-- Modal Contacto -->
            <div class="modalcontainer"  id="modalcontainer-contacto" >
              <div class="ventana-modal">
                  <div class="cabecera-modal-contacto">
                    <button id="cerrar-contacto"><i class="fas fa-times"></i></button>
                  </div>
                  <div class="modalbody">
                    <h2>Contacto</h2>

                    <div class="correo">
                        <a href="mailto:rengifo-vera@hotmail.com?Subject=Quiero%20Contactarte">rengifo-vera@hotmail.com </a>
                    </div>
                    <h2>Social</h2>
                    <div class="social">
                        <a data-toggle="tooltip" title="Facebook" href="https://www.facebook.com/JhonJRVera" target="_blank"  ><i  class="fab fa-facebook"></i></a> &nbsp; 
                        <a data-toggle="tooltip"  title="Twitter" href=" https://twitter.com/JhonJRVera" target="_blank"><i class="fab fa-twitter"></i></a>&nbsp;
                        <a data-toggle="tooltip"  title="Instagram" href="https://www.instagram.com/jjrv_00/" target="_blank"><i class="fab fa-instagram"></i></a>&nbsp;
                </div>
              </div>
          </div>
          
    </div>

    <nav class="navbarr" >
        <div class="content">
          <div class="logos">
            <a href="#inicio">JR          
            </a>
          </div>  
          <ul class="menu-list">
            <div class="icon cancel-btn">
              <i class="fas fa-times"></i>
            </div>
            <li><a href="#portafolio">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a id="open-contacto" href="#modalcontainer" >Contact</a></li>
          </ul>

          <ul class="social-media">
            <li>
              <a href="https://www.facebook.com/JhonJRVera" target="_blank"  ><i  class="fab fa-facebook"></i></a> &nbsp;
              <a href="https://github.com/RengifoVera" target="_blank"  ><i class="fab fa-github"></i></a> &nbsp;
              <a href=" https://twitter.com/JhonJRVera" target="_blank"><i class="fab fa-twitter"></i></a>&nbsp; 
            </li>
            </ul>
          <div class="icon menu-btn">
            <i class="fas fa-bars"></i>
          </div>

          </div>
      </nav>
      <div class="banner" id="inicio">
        <section id="presentacion" >   
          <img id="fondo" src="{% static 'img/fondo.png' %}" >
                  
        <h1>Creates. Enjoy. Learn.</h1>

          <p>
            
             Hello <br>
              <br>
              Welcome to my portfolio <br>
              I‘m Jhon Rengifo junior web developer, <br>
              my desire to learn and do my job well are <br>
              things that motivate me every <br>
              day to be better and love what I do. <br>
            
          </p>


          <div class="btn-resume" id="open-resume" href="#modalcontainer">
            Show Resume
             <div id="btn"> <i class="fas fa-arrow-right"></i></div>
          </div>

          <h6>Learning to program has nothing more to do with designing interactive <br> 
            software than learning to play the type has to do with writing poetry.</h6>

        </section>
      </div>

      
      <div class="about" >

        <div class="content">
            <section class="style-porta" id="portafolio" style="padding: 50px 0 0 0;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                              <!-- <div class="img-por">
                                <a id="open" href="#modalcontainer">
                                  <img src="{% static 'img/imagen.png' %}">
                                </a>
                                <div class="le">
                                  Club Internacional De Futbol Tulua 
                                </div>
                              </div>   -->
                              <h1> My Projects</h1>
                            </div>
                            <div class="col-md-6">
                              <!-- <div class="img-por">
                                <a id="open-electro" href="#modalcontainer">
                                  <img src="{% static 'img/electro.png' %}">
                                </a>
                                <div class="le">
                                  Electro Aires & Aires 
                                </div>
                              </div>   -->

                              <p>
                                  During the quarantine I had the opportunity 
                                  to work in web design with some teachers from
                                  my university and they gave me some projects
                                  with which I could evaluate my skills and here
                                  are some of them:
                                </p>
                            </div>

                            <div class="col-md-6">
                              <!-- <div class="img-por">
                                <a id="open" href="#modalcontainer">
                                  <img src="{% static 'img/imagen.png' %}">
                                </a>
                                <div class="le">
                                  Club Internacional De Futbol Tulua 
                                </div>
                              </div>   -->
                              <h1> EF Internacional Tulua 
                                Escuela de Formacion Deportiva.</h1>
                            </div>

                            <div class="col-md-6">
                              <!-- <div class="img-por">
                                <a id="open" href="#modalcontainer">
                                  <img src="{% static 'img/imagen.png' %}">
                                </a>
                                <div class="le">
                                  Club Internacional De Futbol Tulua 
                                </div>
                              </div>   -->
                              <h1> Electro Aires & Aires.</h1>
                            </div>
                        </div>
                    </div>
            </section>
            <section class="style-porta" id="skills" style="padding: 50px 0 0 0;">
              
              <div data-aos="fade-right">
                <h1 style="color:black;">Skills Set</h1>
                <hr>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-6 col-md-4 tooltips" data-tooltip="Python" ><img class="img-skills" src="{% static 'svg/python.svg' %}"></div>
                <div class="col-6 col-md-4 tooltips" data-tooltip="HTML"><img class="img-skills" src="{% static 'svg/html.svg' %}"></div>
                <div class="col-6 col-md-4 tooltips" data-tooltip="CSS"><img class="img-skills" src="{% static 'svg/css.svg' %}"></div>

                <div class="col-6 col-md-4 tooltips" data-tooltip="Django"><img class="img-skills" style="background:white;" src="{% static 'svg/django.svg' %}"></div>
                <div class="col-6 col-md-4 tooltips" data-tooltip="React"><img class="img-skills" src="{% static 'svg/react.svg' %}"></div>
                <div class="col-6 col-md-4 tooltips" data-tooltip="JavaScript"><img class="img-skills" src="{% static 'svg/js.svg' %}"></div>

                <div class="col-6 col-md-4 tooltips" data-tooltip="Git"><img class="img-skills" src="{% static 'svg/git.svg' %}"></div>
                <div class="col-6 col-md-4 tooltips" data-tooltip="Bash"><img class="img-skills" src="{% static 'svg/bash.svg' %}"></div>
                <div class="col-6 col-md-4 tooltips" data-tooltip="Bootstrap"><img class="img-skills" src="{% static 'svg/bootstrap.svg' %}"></div>

                <div class="col-6 col-md-4 tooltips" data-tooltip="PhotoShop"><img class="img-skills" src="{% static 'svg/photoshop.svg' %}"></div>
                <div class="col-6 col-md-4 tooltips" data-tooltip="3D's Max"><img class="img-skills" src="{% static 'svg/3ds.svg' %}"></div>
                <div class="col-6 col-md-4 tooltips" data-tooltip="Postgresql"><img class="img-skills" src="{% static 'svg/postgresql.svg' %}"></div>
            </div>
            </section>  
            <section  class="style-porta" id="experience" style="padding: 50px 0 0 0;">
              <div data-aos="fade-right">
                  <h1>Experience</h1>
                  <hr>
              </div>
               <div class="container">
                 <div class="row">
                   <div class="col-md-6">
                      <a id="open-experiencia" href="#modalcontainer-experiencia">
                        <img src="{% static 'img/experiencia.jpg' %}">
                      </a>
                   </div>
                   <div class="col-md-6">
                    <a id="open-estudios" href="#modalcontainer-estudios">
                      <img src="{% static 'img/estudios.jpg' %}">
                    </a>
                 </div>
                 </div>
               </div>
            </section>
      </div>
    </div>

      <footer id="pie-pag" >
        <hr id="section-hr">
        <a href=""><img src="{% static 'img/logo.png' %}"></a>
          <small>
              <span>Developed and designed by&nbsp;</span>
              <a  href="https://twitter.com/JhonJRVera" target="_blank" style="text-decoration: none;">JhonJRVera</a>. ©
      
              <script type="text/javascript"> var d=new Date() 
              document.write(d.getFullYear())</script>
          </small>
      </footer>








<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
<script>AOS.init();</script>
</body>
</html>