@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}



html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.style-porta  h1 {
  margin-top: 30px;
  text-align: center;
  font-family: 'Montserrat';

}
.style-porta  hr{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #000000, #f0f0f0); 
  
}
#section-hr{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #000000, #f0f0f0); 
    
}
#pie-pag a img {
  height: 50px;
  width: 70px;
  display: block;
  margin: auto;
  margin-top: 100px; 
}
#pie-pag small span{
  display: flex;
  margin-left: 500px;
}

#pie-pag a img:hover{
  opacity: .58;
  transition: ease-out .3s;

}
#pie-pag{
  text-align: center;
  background: #1a5dff;
  width: 100%;
  height: 300px;
  
}
#pie-pag a{
  text-decoration: none;
  color: white;
}
#pie-pag small{
  vertical-align: middle;
  color: white;
  font-size: 30px;
  font-family: 'Zen Loop';
  text-decoration: none;
  margin-top: 100px;
}

.img-skills{
  width: 100px;
  display: block;
  margin: auto;
  margin-top: 60px;
  border-radius: 22px;
  height: 100px;
  cursor: pointer;
  position: relative;
  transition: all .5s ease;

}
.img-skills:hover{
  transform: scale(0.9,0.9);
  transition: all .5s ease;
}
.img-exp{
  height: 200px;
  width: 300px;
  border-radius: 22px;
  display: block;
  margin: auto;
  border-color: #295d68 1px solid;
}

.img-exp:hover{
  border-radius: 0;
  transition: ease-in-out .3s ;
}




/* TOOLTIP */
.tooltips::before,
.tooltips::after{
  opacity:0;
  --arrow-size:10px;
  --tooltip-color: rgba(0,0,0,.75);;

  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  transition: .2s ease-in-out;
  transform-origin: bottom center;
}
.tooltips::before{
  content: attr(data-tooltip);
  color:white;
  padding: .5rem;
  width: max-content;
  border-radius: 5px;
  max-width: 100%;
  text-align: center;
  background: var( --tooltip-color);
  transition: all .6s ease  ;

}


.tooltips:hover::before,
.tooltips:hover:after{
  opacity: 1;
}
.tooltips::after{
  content: '';
  background-color:var(--tooltip-color);
  height: 10px;
  width: 15px;
  top:35px;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  transform:rotate(180deg);
  left: 182px;
  transition: all .6s ease  ;

}
/* FIN TOOLTIP */
.container .img-por img{
  height: 398px;
  width: 400px;
  display: block;
  margin: auto;
  margin-top: 25px; 
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .3s ease;
  background: #cccccc;
  border: black 1px dashed;
  border-radius: 22px;
}

.navbarr{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}

.navbarr.sticky{
  background: #1a5dff;
  padding: 10px 0;
  box-shadow: 2px 2px 5px #999;}
.navbarr .content{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.navbarr .logos  a{
  display: flex;
  color: rgb(255 ,255, 255);
  font-size: 27px;
  font-family: 'Roboto';
  text-decoration: none;
}
.navbarr .social-media li {
  font-size: 25px; 
  list-style: none; 
  
  
}
.navbarr .social-media li a {
  text-decoration: none;
  color: #fffafa; 
}

.navbarr .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;

  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;


}
.menu-list li a:hover, a:focus  {
  background-size: 100% 2px;
  color: #f0f0f0;
}

.menu-list li a:focus  {
  background-size: 100% 2px;
}
.banner{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: transparent;
  background-size: 400% 300%;
  background-color: #1a5dff;
}
.banner h1{
  font-size: 48px;
  margin: -43% 0;
  font-family: 'Roboto';
}

.banner p{
  font-size: 20px;
  margin: 46% 0;
  font-family: 'Montserrat';
}
.banner h6{
  font-size: 17px;
  margin: 50% 24%;
  font-family: 'Montserrat', sans-serif;
}
#fondo{
  width: 28%;
  margin: -1% 0 0 72%;
}
#texto-des{
  font-size: 24px;
  font-family: 'Montserrat';
}
.proyectos {
  font-size: 24px;
  font-family: 'Montserrat';
  margin: 30% 0;
  cursor: pointer;
  transition: all .3s ease;
 
  text-align: center;
}

.proyectos a{
  text-decoration: none;
  color: #000000;
}
.proyectos:hover{
  transition: all .3s ease;
  text-decoration: none;
  transform: scale(1.1,1.1);
  color: #000000;
}

#presentacion{
  padding: 95px 0 0 100px;
  font-family: 'Righteous';
  color: rgb(255, 250, 222);
  font-size: 100px;
}

.btn-resume{
  font-size: 17px;
  font-family: 'Montserrat',sans-serif;
  margin: -42% 0;
  cursor: pointer;
  width: 211px;
}
#btn {
  font-size: 24px;
  font-family: 'Montserrat',sans-serif;
  width: 52px;
  height: 52px;
  margin: -40px 140px;
  border-radius: 50%;
  text-align: center;
  color: #1a5dff;
  background: white;
  transition: all .2s ease;
}
#btn i{
  margin: 13px;
}
.btn-resume:hover #btn{
  background: #083396;
  color: #f1f1f1;  
  transition: all .2s ease;

}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: rgb(0, 0, 0);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
#logo-img{
  display: none;
}
#letra{
  display: none;
}

@media  (max-width:768px){

  .style-porta  h1 {
    margin-top: 30px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 30px;
  
  }
  #texto-des {
    font-size: 20px;
    font-family: 'Montserrat';
  }
  .proyectos {
    font-size: 20px;
    font-family: 'Montserrat';
    margin: 30% 0;
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: none;
    color: #000000;
    text-align: center;
  }
  .proyectos a {
    text-decoration: none;
    color: #000000;
  }

  .tooltips::after{
    content: '';
    background:var(--tooltip-color);
    height: 10px;
    width: 15px;
    top:33px;
    transform:rotate(180deg);
    left: 70px;
  }
  .img-skills{
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 51px;
    border-radius: 22px;
    height: 100px;
    cursor: pointer;
    position: relative;
  }
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
    color: white;
  }
  .icon.hide{
    display: none;
  }

  .navbarr .menu-list{
    height: 100vh;
    position: fixed;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbarr.show .menu-list{
    left: 0%;
  }
  .navbarr .menu-list li{
    margin-top: 45px;
  }
  .navbarr .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    font-family: 'Montserrat';
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbarr.show .menu-list li a{
    color: white;
    margin-left: 0px;
    font-size: 20px;
  }
  .container .img-por img{
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
    transition: all .3s ease;
    margin-bottom: 10px;
  }

  .navbarr .logos  a{
    display: flex;
    color: white;
    font-size: 25px;
    font-family: 'Roboto';
    text-decoration: none;
  }
 
  
    
  .banner h1{
    font-size: 42px;
    margin: -35% 0;
    font-family: 'Roboto';
  }

  .banner p{
    font-size: 16px;
    margin: 43% 0;
    font-family: 'Montserrat';
  }
  .banner h6{
    font-size: 10px;
    margin: 42% -3%;
    width: 101%;
    font-family: 'Montserrat', sans-serif;
  }
  #fondo{
    width: 28%;
    margin: -1% 0 0 72%;
    display: none;
  }

  #presentacion{
    padding: 70% 0 0 5%;

  }

  .btn-resume{
    font-size: 17px;
    font-family: 'Montserrat',sans-serif;
    margin: -20% 20%;
    cursor: pointer;
  }
  #btn {
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    width: 52px;
    height: 52px;
    margin: -40px 140px;
    border-radius: 50%;
    text-align: center;
    color: #1a5dff;
    background: white;
    transition: all .2s ease;
  }
  #btn i{
    margin: 13px;
  }
  .btn-resume:hover #btn{
    background: #083396;
    color: #f1f1f1;  
    transition: all .2s ease;

  }
  #pie-pag small span{
    display: flex;
    margin-left: 67px;
  }
  #pie-pag a img {
   margin-top: 80px; 
  }
  #pie-pag small{

    font-size: 22px;
  }

}

